@{
    ViewData["Title"] = "Home Page";
}

@model User



<div class="text-center d-flex justify-content-around">
    <div class="flex-1 mb-3">
        <h2>Register</h2>
        <form asp-action="CreateUser" asp-controller="Home" method="post">
            <div class="mb-3">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subscribe"></label>
                <input asp-for="Subscribe">
            </div>
            <div class="mb-3">
                <input type="submit" value="Register" class="btn btn-info">
            </div>
        </form>
    </div>
    <div class="flex-1">
        <h2>Login</h2>
        @await Html.PartialAsync("_LogUser")
    </div>
        </div>
