@{
    ViewData["Title"] = "Home Page";
}
@model Pet

<div class="text-center">
    <h1 class="display-4">Tell me about your pet</h1>
    <form action="pet/create" method="post">
    <div class="form-group">
        <label asp-for="Name">Name :</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Species">Species :</label>
        <input asp-for="Species" class="form-control">
        <span asp-validation-for="Species" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="IsFrindly">is your pet Friiendly ?</label>
        <input type="checkbox" name="IsFrindly">
    </div>
    <div class="form-group">
        <label for="Age">Age :</label>
        <input type="number" name="Age" class="form-control">
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
    
    
    
    </form>
</div>
