@model Song

<div class="text-center">
    <h2>Add Song</h2>
    <form asp-action="EditSong" asp-asp-controller="Home" method="post">
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control">
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Genre"></label>
            <input asp-for="Genre" class="form-control">
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Update Song" class="btn btn-danger">

        </div>
    </form>
</div>